<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:name=".PF2048"
        android:theme="@style/PrivacyFriendlyCoreTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/PrivacyFriendlyCoreTheme.NoActionBar" />
        <activity
            android:name="org.secuso.privacyfriendly2048.activities.StatsActivity"
            android:theme="@style/PrivacyFriendlyCoreTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendly2048.activities.MainActivity" />
        </activity>
        <activity
            android:exported="true"
            android:name=".activities.GameActivity"
            android:label="@string/title_activity_game"
            android:parentActivityName=".activities.MainActivity">
            <intent-filter>
                <action android:name="com.samsung.android.support.REMOTE_ACTION" />
            </intent-filter>
            <meta-data
                android:name="com.samsung.android.support.REMOTE_ACTION"
                android:resource="@xml/air_actions" />
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="org.secuso.privacyfriendly2048.activities.MainActivity" />
        </activity>

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:node="remove" />
    </application>

</manifest>